<% if @user.errors %>
<ul>
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
<% end %>

<div class="container">
<h2>User info</h2>

<%= form_with model: @user,url: user_path(current_user.id) do |f|%>
  <div class="user-name">Name</div>
    <%= f.text_field :name %>
  <div class="user-edit-image">Image</div>
    <%= f.file_field :profile_image %>
  <div class="form-body">Introduction</div>
    <%= f.text_area :introduction %><br>
  <div class="upload">
     <%= f.submit "Update User", class: "btn btn-secondary"%>
  </div>
 <% end %>
 </div>